.textInputFields {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  text-align: center;
}

.hoverEffect:hover {
  border-radius: 5px;
  transition: 200ms;
}

.hoverEffect:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 200ms;
}

.text-area {
  height: 100%;
}

.submit-button {
  border: 1px solid white;
}
